/*Este é meu arquivo de estilo de css*/
body{
	font-family: fantasy;
}
h1{
	font-size: 50pt;	
	color: red;
	background-color: #8AE392;
	text-align: center;
	padding: 30px;
	margin: 30px;
}

.destaque{
	font-size: 20px;
}
.pequeno{
	font-size: 10px;
	text-align: right;
}

tr{

}

tr{

}

td{
	font-size: 20px;
}